.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indices {
    height: 100px;
}

.searchBar {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.textbox {
    height: 40px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    font-weight: bold;
    width: 90%;
    margin: 1px 0px;
    background-color: #18151e;
    box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
    color: white;
    font-size: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}

.addButton {
    height: 100%;
    width: 10%;
    border-radius: 100px;
    border: none;
    background-color: #18151e;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
    cursor: pointer;
}

.addButton:focus {
    outline: none;
}

.indicesContainer {
    display: flex;
    width: 100%;
    border-radius: 10px;
    font-size: 85%;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .textbox {
        height: 40px;
        border: none;
        border-radius: 100px;
        font-weight: 100;
        letter-spacing: 1px;
        width: 80%;
        padding-left: 15px;
        box-sizing: border-box;
        margin: 1px 0px;
        background-color: #18151e;
        box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
        color: white;
        font-size: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .textbox:focus {
        outline: none;
    }

    .addButton {
        height: 100%;
        width: 15%;
        border-radius: 100px;
        border: none;
        background-color: #18151e;
        color: white;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
    }

    .addButton:focus {
        outline: none;
    }

    .searchBar {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 6px;
    }

    .indicesContainer {
        display: grid;
        justify-content: space-evenly;
        width: 94vw;
        border-radius: 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 46% 46%;
        grid-gap: 8px 5px;
        font-size: 77%;
        text-align: center;
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .companyContainer {
        background-color: #17141d;
        padding: 10px;
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 15px;
        width: 92vw;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
        box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
    }

    .textbox {
        height: 40px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        width: 50%;
        padding-left: 7px;
        margin: 1px 0px;
        background-color: #18151e;
        box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
        color: white;
        font-size: 100%;
    }

    .header {
        width: 100%;
        background-color: #100f17;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .indices {
        height: 85px;
        border-radius: 10px;
    }

    .indicesContainer {
        display: grid;
        justify-content: space-evenly;
        width: 94vw;
        box-shadow: 0 0 30px 0 rgba(10, 9, 15, 0.5);
        border-radius: 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 46% 46%;
        grid-gap: 0px 5px;
        font-size: 77%;
        text-align: center;
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 769px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textbox {
        height: 40px;
        border: none;
        font-weight: bold;
        margin: 1px 0px;
        background-color: #18151e;
        box-shadow: 0px 0px 30px 0px rgba(10, 9, 15, 0.5);
        color: white;
        font-size: 100%;
    }

    .indicesContainer {
        border-radius: 10px;
        justify-content: space-between;
        text-align: center;
    }
}
