.companyContainer {
    background-color: #17141d;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(2, 40px);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

.textbox {
    height: 50px;
    border: 1px solid #bec5cc;
    border-radius: 5px;
    width: 30%;
    padding-left: 20px;
    margin: 10px 5px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-color: #fafafa;
}

.indices {
    display: flex;
    justify-content: space-around;
    font-size: 150%;
    width: 100%;
    height: 70px;
    background-color: #17141d;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.header {
    width: 1201px;
    background-color: #100f17;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .companyContainer {
        background-color: #17141d;
        padding: 8px;
        display: grid;
        grid-template-rows: repeat(9, 30px);
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 8px;
        width: 92vw;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }
    
    .textbox {
        height: 35px;
        border: 1px solid #bec5cc;
        border-radius: 5px;
        width: 150px;
        padding-left: 7px;
        margin: 0px 5px;
        font-size: 14px;
        background-color: #fafafa;
    }
    
    .header {
        width: 100%;
        background-color: #100f17;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    .indices {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        font-size: 110%;
        width: 100%;
        height: 80px;
        background-color: #17141d;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .companyContainer {
        background-color: #17141d;
        padding: 10px;
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 15px;
        width: 92vw;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }
    
    .textbox {
        height: 40px;
        border: 1px solid #bec5cc;
        border-radius: 5px;
        width: 250px;
        padding-left: 7px;
        margin: 0px 5px;
        font-size: 14px;
        background-color: #fafafa;
    }
    
    .header {
        width: 100%;
        background-color: #100f17;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 769px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .companyContainer {
        background-color: #17141d;
        padding: 10px;
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 15px;
        width: 92vw;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    }
    
    .textbox {
        height: 40px;
        border: 1px solid #bec5cc;
        border-radius: 5px;
        width: 250px;
        padding-left: 7px;
        margin: 0px 5px;
        font-size: 14px;
        background-color: #fafafa;
    }
    
    .header {
        width: 100%;
        background-color: #100f17;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
