.holder {
      display: flex;
      justify-content: center;
      min-height: 100vh;
      max-width: 100vw;
      background-color: #100f17;
      color: #feffff;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
      .holder {
            display: flex;
            justify-content: center;
            min-height: 100vh;
            max-width: 100vw;
            color: #feffff;
            background-color: #100f17;
      }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
      .holder {
            display: flex;
            justify-content: center;
            min-height: 100vh;
            max-width: 100vw;
            color: #feffff;
            background-color: #100f17;
      }
}

@media only screen and (min-width: 769px) {
      .holder {
            display: flex;
            justify-content: center;
            min-height: 100vh;
            max-width: 100vw;
            color: #feffff;
            background-color: #100f17;
      }
}
