.holder {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #333743;
    color: #feffff;
}

@media only screen and (max-width: 400px) {
  .holder {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    color: #feffff;
    background-color: #333743;
  }
}
