.header {
    width: 100%;
    background-color: #100f17;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
}

.hamburgerAndDp {
    width: 10%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sideMenu {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99999999;
    background-color: #100f17;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.sideMenuOpen {
    transform: translateX(0);
}

.sideMenuClose {
    transform: translateX(-101%);
}

.modalOpen {
    display: block;
}

.modalClose {
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
}

.sortContainer {
    margin-top: 20px;
}

.sortGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 5px 5px;
    font-size: 85%;
    text-align: center;
}

.sortGridContainer > div {
    border: 1px solid white;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.sortHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.sortSave {
    background-color: #17141d;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 85%;
    cursor: pointer;
}

.dp {
    border-radius: 300px;
}

.hiUser {
    margin-bottom: 20px;
}

.searchEngine {
    display: flex;
    justify-content: space-between;
}

.logout {
    margin-top: 20px;
}

.toLogin {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family: 'Gilroy';
    font-weight: 700;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .header {
        width: 100vw;
        box-sizing: border-box;
        padding: 8px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .header {
        width: 100vw;
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 769px) {
    .header {
        width: 100%;
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
